In [2]:
import pandas as pd

In [17]:
df_movies = pd.read_csv('Data/imdb_1000_clean.csv', index_col='Rank')

In [18]:
df_movies_one = df_movies.copy()

In [19]:
type(df_movies_one)

pandas.core.frame.DataFrame

In [20]:
df_movies_one.columns

Index(['title', 'genre', 'description', 'director', 'actors', 'year',
       'run_minutes', 'rating', 'votes', 'revenue_millions', 'metascore'],
      dtype='object')

In [21]:
df_movies_one.describe()

,year,run_minutes,rating,votes,revenue_millions,metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,96.412043,16.634858
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,17.442500,47.750000
50%,2014.000000,111.000000,6.800000,1.107990e+05,60.375000,58.985043
75%,2016.000000,123.000000,7.400000,2.399098e+05,99.177500,71.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

# Mean,Median,Mode
##Starndard Deviation and Variance
##Skewness
##Normal Distribution
## Kurtosis

# Different Charts
*Line Graph - Data Collected overtime, Timeseries
*Pie Chart - Categorial data e.g. less than 10 categories . Display count/sum as a %.
*Bar Graph - Categorical/Time Series
*Scatter plot - Distribution of data poits /Trend
*Boxplot - Max/Min/outliers ...distribution..Trend

In [29]:
 gn = df_movies_one['rating']

In [32]:
rt = gn.value_counts()